@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Lora:wght@500;700&family=Montserrat:wght@400;500;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}
li {
  list-style-type: none;
}
/* 
font-family: 'Crimson Pro', serif;
font-family: 'Lora', serif;
font-family: 'Montserrat', sans-serif; */

:root {
  --crimson: "Crimson Pro", serif;
  --lora: "Lora", serif;
  --montserrat: "Montserrat", sans-serif;
  --sm200: 200;
  --light400: 400;
  --medium500: 500;
  --bold700: 700;
}

body {
  background-color: #181719;
  color: #ffffff;
  margin: 40px 60px;
}

.navWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  border: 1px solid #ffffff;
  max-width: max-content;
  padding: 10px;
  font-family: var(--crimson);
  font-size: 14px;
  font-weight: var(--sm200);
  cursor: pointer;
}

.navMenu > ul {
  display: flex;
  flex-direction: row;
  gap: 80px;
}
li {
  font-family: var(--montserrat);
  font-weight: 700;
  font-size: 18px;
}
.navMenu > ul > li:hover {
  border-bottom: 2px solid #ffffff;
  padding-bottom: 5px;
  cursor: pointer;
  transition: ease-in;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 150px;
}
.content {
  flex: 45%;
  padding: 20px;
}
.content > .articleTitle {
  font-size: 3rem;
  font-family: var(--lora);
  font-weight: 500;
}
.content > a {
  font-size: 1.125rem;
  font-family: var(--montserrat);
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
}

.description {
  font-size: 1.2rem;
  font-weight: 400;
  font-family: var(--montserrat);
  line-height: 1.875rem;
  padding-right: 120px;
  margin: 50px 0;
}

.heroImgContainer {
  background-image: url(./photo1.png);
  background-size: 100%;
  height: 31rem;
  max-height: 100%;
  max-width: 100%;
  width: 51.315rem;
  position: relative;
  background-repeat: no-repeat;
}

.profileCard {
  width: 25.625rem;
  background-color: #181719;
  position: absolute;
  bottom: -100px;
  right: 30px;
  padding: 30px;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.profileHeader > img {
  height: 3.125rem;
  width: 3.125rem;
  border-radius: 50%;
}
.profileHeader {
  display: flex;
  flex-direction: row;
}

.name > h2,
.name > h3 {
  font-family: var(--montserrat);
  font-weight: 500;
  align-items: center;
  padding-left: 20px;
  padding-top: 5px;
}

.name > h2 {
  font-size: 0.875rem;
}
.name > h3 {
  font-size: 0.75rem;
  color: #828282;
}
.courtesy > p {
  font-family: var(--lora);
  font-size: 1.3125rem;
  font-weight: 500;
  margin-top: 20px;
  text-align: left;
}
footer > .footerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}
footer > .footerWrapper > p {
  color: #a9a9a9;
  font-size: 14px;
  font-family: var(--montserrat);
  font-weight: 700;
}

a {
  text-decoration: none;
  color: #a9a9a9;
}
.hamburgerMenu {
  display: none;
}

@media screen and (max-width: 600px) {
  body {
    margin: 20px;
  }
  .hamburgerMenu {
    display: flex;
  }
  #hamMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 45;
    height: 100vh;

    width: 100%;
  }
  #hamMenu > .home {
    border-bottom: 2px solid #ffffff;
    padding-bottom: 3px;
  }
  #hamMenu > a {
    margin-bottom: 20px;
    color: #ffffff;
    font-family: var(--montserrat);
    font-weight: 700;
    font-size: 18px;
    column-gap: 50px;
    padding: 0;
  }
  #hamMenu > a:hover {
    border-bottom: 2px solid #ffffff;
    padding-bottom: 5px;
    cursor: pointer;
    transition: ease-in;
  }
  .navWrapper > .navMenu {
    display: none;
  }
  .wrapper {
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  .wrapper > .content > h1 {
    font-size: 2.5rem;
  }
  .heroImgContainer {
    display: flex;
    height: 279px;
    width: 390px;
    margin-top: 40px;
  }
  .content {
    padding: 0;
  }
  .description {
    font-size: 0.875rem;
    line-height: 1.0625rem;
    padding: 0 150px 0 0;
    margin-top: 20px;
  }
  .profileCard {
    height: 8.625rem;
    width: 18.75rem;
    padding: 20px;
  }
  .profileHeader > .imgHouse {
    height: 40px;
    width: 40px;
  }
  .name > h2 {
    font-size: 0.75rem;
  }
  .name > h3 {
    font-size: 0.625rem;
  }
  .courtesy > p {
    font-size: 1.125rem;
  }
  footer > .footerWrapper > p {
    font-size: 10px;
  }
}
